
*.bin
.vs/TakahashiGroup_SyringeBotGUI/DesignTimeBuild/.dtbcache.v2
.vs/TakahashiGroup_SyringeBotGUI/FileContentIndex/6e199129-2c31-40d8-8f40-9b4d0e30b604.vsidx
.vs/TakahashiGroup_SyringeBotGUI/v17/.futdcache.v2
.vs/TakahashiGroup_SyringeBotGUI/v17/.suo
.vs/TakahashiGroup_SyringeBotGUI/v17/DocumentLayout.json
.vs/TakahashiGroup_SyringeBotGUI/FileContentIndex/d7c9fe3c-096c-4652-86bc-e542fe986721.vsidx
